<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Monitor de Sistema</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/system_monitor/pages/memory">Memoria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/system_monitor/pages/disk">Disco</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/system_monitor/pages/cpu">CPU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/system_monitor/pages/unap">UNAP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/system_monitor/pages/mysql">MySql</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
